@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Azeret Mono", monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Shared Style */
.title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.title-2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.title-content {
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}

.learn-more-btn {
  /* Border Part */
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 150px;
  height: 48px;
  /* padding: 12px 20px 12px 20px; */
  margin: 32px 0px;
  cursor: pointer;

  /* Text Part */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
/* Hero Section Style*/
.hero {
  width: auto;
  height: 652px;
  /* border: 1px solid black; */
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  margin-top: 26px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-container .row1 {
  width: 240.28px;
  height: 240px;
  margin-top: 26px;
  margin-bottom: 32px;
  /* border: 1px solid yellow; */
}

.hero-container .row2 {
  width: 998px;
  height: 310px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  margin-top: 0;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 39px;
  font-weight: 800;
  text-align: center;
}

.hero-content {
  margin: 0 auto;
  margin-top: 24px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: center;
}

.hero-btn {
  width: 250px;
  height: 66px;
  padding: 21px 24px 21px 24px;
  margin: 32px 0px;
  margin-bottom: 0px;
  border-radius: 8px;
  background: rgb(13, 19, 33);

  /* text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center; */
}

.hero-btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

/* Why Web Development Section Style */
.why-web-dep {
  width: 1140px;
  height: 1395px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-top: 74px;
}
.why-web-dep-container {
  width: 946px;
  height: 1235px;
  /* border: 1px solid red;  */
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.why-web-dep-row-1 {
  width: 852px;
  height: 115px;
  margin: 0 auto;
  /* border: 1px solid blue;  */
}
.why-web-dep-row-1 > p {
  margin-top: 20px;
  line-height: 20px;
}

.why-web-dep-row-2 {
  width: 850px;
  height: 240px;
  /* border: 1px solid yellow;  */
  margin: 0 auto;
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.why-web-dep-row-2 .row2-c1 p {
  margin-top: 31px;
}

.why-web-dep-row-2 .row2-c2 {
  width: 250px;
  height: 217px;
}
.why-web-dep-row-2 .row2-c2 img {
  width: 250px;
  height: 217px;
}

.why-web-dep-row-3 {
  width: 850px;
  height: 240px;
  /* border: 1px solid orange;  */
  margin: 0 auto;
  margin-top: 128px;
}
.why-web-dep-row-4 {
  width: 850px;
  height: 240px;
  /* border: 1px solid green;  */
  margin: 0 auto;
  margin-top: 128px;
}

.why-web-dep-row-3 {
  display: flex;
  justify-content: space-between;
}
.why-web-dep-row-3 .row3-col1 {
  width: 223px;
  height: 209px;
}
.why-web-dep-row-3 .row3-col2 {
  width: 477px;
  height: 220px;
  margin-left: 49px;
}
.why-web-dep-row-3 .row3-col2 p {
  margin-top: 35px;
}
.why-web-dep-row-4 {
  display: flex;
  justify-content: space-between;
}
.why-web-dep-row-4 .row4-c1 p {
  margin-top: 35px;
}

/* My Inspiration Part Starts */
.inspiration {
  width: 1140px;
  height: 797px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.inspiration-text {
  width: 852px;
  height: 125px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
.inspiration-text p {
  margin-top: 16px;
}
.inspiration-video {
  margin: 0 auto;
  margin-top: 38px;
  width: 1140px;
  height: 614px;
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.inspiration-video iframe {
  border-radius: 16px;
}

/* Current Target Section Style */
.current-target {
  width: 1140px;
  height: 463px;
  margin: 0 auto;
  margin-top: 149px;
  /* border: 1px solid black; */
}
.current-target-text {
  width: 852px;
  height: 115px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.current-target-text p {
  margin-top: 30px;
}
.current-target-cards {
  width: 1140px;
  height: 300px;
  margin: 0 auto;
  margin-top: 48px;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
}

.card {
  width: 364px;
  height: 300px;
  padding: 40px;
  border-radius: 16px;
  /* border: 1px solid green; */
}
.card-title-image {
  height: 56px;
  width: 56px;
}

.card-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.card-content {
  margin-top: 24px;
}
.card-text {
  margin-top: 8px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.card-link {
  margin-top: 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  cursor: pointer;
}
.card-link a {
  margin-top: 24px;
  color: rgb(13, 19, 33);
  text-decoration: none;
}
.card-1 {
  background: rgba(255, 76, 30, 0.05);
}
.card-2 {
  background: rgba(0, 76, 232, 0.05);
}
.card-3 {
  background: rgba(255, 223, 0, 0.05);
}

/* Next target Section Starts */
.next-target {
  width: 1140px;
  height: 866px;
  margin: 0 auto;
  margin-top: 111px;
  /* border: 1px solid black; */
}
.next-target-title {
  width: 852px;
  height: 113px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.next-target-title p {
  margin-top: 40px;
}
.next-target-cards {
  width: 1140px;
  height: 705px;
  margin-top: 48px;
  margin: 0 auto;
  margin-top: 48px;
  /* border: 1px solid navy; */
}
.next-target-card {
  width: 1140px;
  height: 219px;
  margin: 0 auto;
  /* border: 1px solid navy; */
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 40px;
  display: flex;
}
.card-margin {
  margin-top: 24px;
  margin-bottom: 24px;
}
.next-target-text {
  margin-left: 50px;
}

/* Support Section Style */
.support {
  margin: 46px auto;
  /* margin-top: 46px; */
  width: 1140px;
  height: 314px;
  padding: 64px 48px;
  border-radius: 16px;
  background-image: url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.416);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.support-title h3 {
  color: rgb(255, 255, 255);
}
.support-title p {
  margin-top: 16px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.support-contact {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.support-contact input[type="text"],
input[type="button"] {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.support-contact input[type="text"] {
  width: 548px;
  height: 57px;
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 20px;
}
.support-contact input[type="button"] {
  width: 120px;
  height: 57px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
/* Footer */
.foot {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.foot-container {
  height: 100px;
  max-width: 1440px;
  margin: 0% auto;
  padding: 32px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.foot > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.contact-link > ul {
  display: flex;
  gap: 24px;
}
.contact-link > ul > li {
  list-style: none;
}
